@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;   
}

img{
    max-width: 100%;
}

ul,
ol,
li,
menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

.container{
    max-width: 1444px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.main-header {
	background-color: #ff6900;
	position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0 20px;
}

.main-header .row{
    justify-content: space-between;
    padding: 10px;
}

.logo{
    height: 30px;
}

.main-content{
    padding-top: 70px;
}

.col-4{
    flex-basis: calc(100% / 3);
}

.card-thumbnail{
    position: relative;
}

/* PRODUCT RULES */

.product-favorit-button,
.product-tags {
	position: absolute;
}

.product-favorit-button{
    right: 0;
    top: 10px;
    background-color: white;
    width: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.product-tags{
    left: 0;
    bottom: 40px;
    display: flex;
    gap: 8px;
}

.product-tags .tag {
    font-weight: 700;
    color: white;
    padding: 0 10px;
    line-height: 28px;
}
.tag.product-discount{
    background-color: red;

}
.tag.product-type{
    background-color: green;
}


.prize-disc{
    color: red;
    font-weight: 700;
}
.prize-real{
    color: black;
    text-decoration: line-through;
    font-weight: 400;
}




